.footer {
  background-color: #f8f9fa;
  padding: 50px 0;
  text-align: center;
}
.footer h3 {
  font-size: 24px;
  margin-bottom: 20px;
}
.footer ul li a {
  color: #6c757d;
  font-size: 18px;
  text-decoration: none;
  display: block;
  margin-bottom: 10px;
}
.footer ul li a:hover {
  color: #343a40;
}
#scroll-to-top {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
}
