.btn-primary {
    background-color: var(--lightBg) !important;
    color: var(--primaryColor) !important;
    border-color: var(--primaryColor) !important;
}

.btn-primary:hover {
    border-color: var(--secondaryColor) !important;
}

.btn-danger {
    background-color: var(--lightBg) !important;
    color: var(--dangerColor) !important;
    border-color: var(--dangerColor) !important;
}

.btn-danger:hover {
    border-color: var(--secondaryColor) !important;
}