#left-side {
  width: 30%;
  display: flex;
  align-items: center;
}

#left-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#right-side {
  width: 70%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.brand {
  font-size: calc(1.2 * var(--fontSize));
}

.brand a {
  text-decoration: none;
}

nav {
  background-color: var(--secondaryColor);
  padding: 10px;
  display: flex;
}

nav input {
  width: 290px;
}

nav ul {
  display: flex;
  flex-wrap: wrap;
}

nav ul li {
  display: flex;
  align-items: center;
  padding: 5px 20px;
  text-transform: uppercase;
}

nav ul li:hover {
  color: var(--primaryColor);
  cursor: pointer;
}

nav ul li a {
  text-decoration: none;
}

#login {
  font-weight: bold;
  text-decoration: underline;
}

#menu-invoker {
  display: none;
}

/* medium screen */
@media only screen and (max-width: 992px) {
  nav {
    flex-direction: column;
    padding: 15px 10px;
  }

  #left-side {
    width: 100%;
    display: flex;
  }

  #left-container {
    flex-direction: column;
    align-items: start;
    justify-content: start;
  }

  #right-side {
    display: none;
    width: 100%;
    justify-content: flex-start;
  }

  .brand {
    font-size: var(--fontSize);
  }

  nav input {
    width: 80vw;
  }

  nav ul {
    flex-direction: column;
    padding: 0;
  }

  nav ul li {
    padding: 10px 0;
  }

  #menu-invoker {
    display: initial;
  }

  #menu-invoker i {
    font-size: 1.5rem;
  }
}
